#logo{
    width: 300px;
    margin-top: 0!important;
}

.bg-primary {
    background: #007bff !important;
}

.tabulation-2.nav-pills .nav-item .nav-link.active {
    color: rgb(255, 255, 255);
    background:#007bff !important;
}

li.nav-item.active{
    background:#007bff !important;
}

a.nav-link.py-3.nav-link.active{
    background:#007bff !important;
}

.ftco-counter{
    background:#007bff !important;
}

/* Social media buttons color */
.social-media p a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
    background: rgba(255, 255, 255, 0.1);
    background: #EEA235;
}

.owl-carousel.home-slider .slider-item .slider-text h2 {
    color: #ffc107;
}



.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 52px;
    height: 52px;
    border: 2px solid #ffc107;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid#ffc107;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }




